<div>
    <div class="esriCTPopupInfoParentContainer" data-dojo-attach-point="popupInfoParentContainer">
        <div data-dojo-attach-point="popupDetailsContainer">
            <div class="esriCTPopupInfoContainer" data-dojo-attach-point="popupContainer">
            </div>
        </div>
        <div class="esriCTSmallText esriCTNoPopupConfigured esriCTHidden" data-dojo-attach-point="noPoupInfoDiv">
        </div>
    </div>
    <div class="esriCTPopupFormContainer esriCTHidden" data-dojo-attach-point="popupFormContainer">
    </div>
</div>
